.c-order-title{
    font-size: 24px;
}
.tableimg{
    max-width: 100%;
    height: auto;
}
.total{
    font-size: 20px;
}
.cart-img{
    width: 95%;
    min-height: 106px;
    @include pad{
        min-width: 157px;
        min-height: 106px;
    }
}
.productName{
    color: $heavyGreen2;
    font-size: 20px;
}
.productPrice{
    color: $heavyGreen2;
    font-size: 16px;
}
.productTitle{
    font-size: 20px;
}